[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=3.0"
importlib-metadata = ">=6.0"
importlib-resources = ">=5.10"
ipdb = ">=0.13"
pytest = ">=8.0"
Werkzeug = ">=3.0"

[requires]
python_version = "3.12"
